<!-- file_content -->
<div class="row justify-content-center mb-3">
    <!-- header -->
    <div class="col-12 col-lg-<%= @size %> mb-3">
        <!-- title -->
        <h1>
            <a href="/<%= @route_path %>/<%= @category %>/<%= @group %>/<%= @file %>" data-turbolinks="true"><%= @file.gsub('-', ' ').titleize %></a>
            <!-- <span class="muted">in <%= @category.capitalize %></span> -->
        </h1>
        <!-- link navigation -->
        <p class="m-0">
            <a href="/<%= @route_path %>#<%= @category %>" data-turbolinks="true"><%= @category.titleize %></a> / <a href="/<%= @route_path %>#<%= @category %>_<%= @group.gsub('-', '_')%>" data-turbolinks="true"><%= @group.gsub('-', ' ').titleize %></a>
        </p>
    </div>
    <!-- content -->
    <div class="col-12 col-lg-<%= @size %> mb-3">
        <div class="container-fluid">
            <div class="row">
                <!-- header -->
                <div class="col-12 background--grey d-none">
                    <p class="mt-2 mb-2"><%= @file %><%= @format %></p>
                </div>
                <!-- body -->
                <div class="col-12 p-0 background--grey">
                    <pre class="prettyprint language-<% if @category == 'pascal' %>delphi<% elsif @category == 'c++' %>cpp<% elsif @group == 'x86'%>x86asm<% else %><%= @category %><% end %>"><%= @file_content %>
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <!-- github -->
    <div class="col-12 col-lg-<%= @size %> text-md-center">
        <p class="m-0"><a href="<%= @url %><%= @group %>/<%= @file %><%= @format %>" target="_blank">View on GitHub</a></p>
    </div>
</div>
<!-- ./file_content