<div class="row justify-content-center">
  <!-- post details
  ---------------------------------------------- -->
  <div class="col-12 col-lg-<%= @size %>">
    <!-- meta -->
    <p class="text-muted mb-3">
      <a href="/<%= @route_path %>#<%= @category %>" data-turbolinks="true" class="pr-3"><%= @category.titleize %></a>
      <a href="/<%= @route_path %>#<%= @category %>_<%= @group.gsub('-', '_')%>" data-turbolinks="true" class="px-3"><%= @group.gsub('-', ' ').titleize %></a>
    </p>
    <!-- title -->
    <h1 class="my-3">
      <a href="/<%= @route_path %>/<%= @category %>/<%= @group %>/<%= @file %>" data-turbolinks="true"><%= @file.gsub('-', ' ').titleize %></a>
    </h1>
  </div>
  <!-- ./post details
  ---------------------------------------------- -->
  <!-- content
  ---------------------------------------------- -->
  <div class="col-12 col-lg-<%= @size %>">
    <div class="container-fluid">
      <div class="row">
        <!-- header -->
        <div class="col-12 background--grey">
          <p class="mt-2 mb-2">
            <span><%= @file %><%= @format %></span>
            <span class="float-right d-none d-lg-inline-block"><a href="<%= @url %><%= @group %>/<%= @file %><%= @format %>" target="_blank">View on GitHub</a></span>
          </p>
        </div>
        <!-- body -->
        <% @lang = @category %>
        <% if @category == 'pascal' %>
        <% @lang = 'delphi' %>
        <% end %>
        <% if @category == 'c++' %>
        <% @lang = 'cpp' %>
        <% end %>
        <% if @group == 'x86'%>
        <% @lang = 'x86asm' %>
        <% end %>
        <div class="col-12 p-0">
          <pre lang="<%= @lang %>" class="prettyprint language-<%= @lang %>"><%= @file_content %>
          </pre>
        </div>
      </div>
    </div>
  </div>
  <!-- ./content
  ---------------------------------------------- -->
</div>