<!-- intro -->
<div class="row justify-content-center">
  <div class="col-12 col-lg-<%= @size %> text-center">
    <p class="h1">
      <a href="/<%= @route_path %>/<%= @category %>/<%= @group %>/<%= @file %>" data-turbolinks="true"><%= @file.gsub('-', ' ').titleize %></a>
    </p>
    <!-- meta -->
    <p class="mb-0">
      <a href="/<%= @route_path %>#<%= @category %>" data-turbolinks="true"><%= @category.titleize %></a>
      <a href="/<%= @route_path %>#<%= @category %>_<%= @group.gsub('-', '_')%>" data-turbolinks="true" class="pl-3"><%= @group.gsub('-', ' ').titleize %></a>
    </p>
  </div>
</div>
<!-- file -->
<div class="row justify-content-center mt-5">
  <div class="col-12 col-lg-<%= @size %>">
    <!-- <a href="<%= @url %><%= @group %>/<%= @file %><%= @format %>" target="_blank" class="text-small" style="position: absolute;top:20px;right:40px;z-index:4000;">View on GitHub</a> -->
    <!-- file_content -->
    <% @lang = @category %>
    <% if @category == 'pascal' %>
    <% @lang = 'delphi' %>
    <% end %>
    <% if @category == 'c++' %>
    <% @lang = 'cpp' %>
    <% end %>
    <% if @group == 'x86'%>
    <% @lang = 'x86asm' %>
    <% end %>
    <div class="col-12 p-0">
      <pre lang="<%= @lang %>" class="prettyprint language-<%= @lang %>"><%= @file_content %>
      </pre>
    </div>
  </div>
</div>