<% @time_to_read = @words / 75 %>
<!-- intro -->
<div class="row justify-content-center">
  <div class="col-12 col-lg-<%= @size %>">
    <p class="h1">
      <a href="/<%= @route_path %>/<%= @post %>" data-turbolinks="true"><%= @title %></a>
    </p>
    <p class="mb-0 text-small text-muted">
      <!-- date -->
      <span><%= Date.parse(@date).strftime("%b %d, %Y").gsub("-0", "").gsub("-", "") %></span>
      <!-- time to read -->
      <span class="pl-3"><%= @time_to_read %> min read</span>
      <!-- updated -->
      <!-- <% unless Date.parse(@date) == Date.parse(@updated) %>
        <a href="https://github.com/mixmaester/michaelsjoeberg.com/commits/main/public/posts/<%= @post %>.md" target="_blank" class="pl-3">Updated on <%= Date.parse(@updated).strftime("%b %d, %Y").gsub("-0", "").gsub("-", "") %></a></span>
      <% end %> -->
    </p>
  </div>
</div>
<!-- post -->
<div class="row justify-content-center mt-3">
  <% if false%>
  <div class="col-12 col-lg-<%= @size %> text-center">
    <!-- title -->
    <p class="h1">
      <a href="/<%= @route_path %>/<%= @post %>" data-turbolinks="true"><%= @title %></a>
    </p>
    <p class="mb-0">
      <!-- date -->
      <span><%= Date.parse(@date).strftime("%b %d, %Y").gsub("-0", "").gsub("-", "") %></span>
      <!-- time to read -->
      <span class="pl-3"><%= @time_to_read %> min read</span>
      <!-- updated -->
      <% unless Date.parse(@date) == Date.parse(@updated) %>
        <a href="https://github.com/mixmaester/michaelsjoeberg.com/commits/main/public/posts/<%= @post %>.md" target="_blank" class="pl-3">Updated on <%= Date.parse(@updated).strftime("%b %d, %Y").gsub("-0", "").gsub("-", "") %></a></span>
      <% end %>
    </p>
  </div>
  <% end %>
  <!-- toc -->
  <div id="toc" class="col-2 col-xl-3 font-family-serif d-none d-xl-block" style="position:fixed;left:0">
    <div class="container-fluid mb-3">
      <div class="row list py-3 mb-3">
        <div class="col-12 p-0">
          <% @open = false %>
          <% @lines.each do |line| %>
            <% if line[0..2] == '## ' %>
              <!-- main on main headings are closed -->
              <% if @open %>
                <% @open = false %>
                </div>
              <% end %>
              <!-- main heading and open for potential subitems -->
              <div class="col-12 list-item">
                <% @open = true %>
                <%= CommonMarker.render_html("1. #{line.split('</a>')[1]}", :UNSAFE, [:table, :autolink]).html_safe %>
            <!-- subitem -->
            <% elsif line[0..3] == '### ' %>
                <div class="list-item subitem">
                  <%= CommonMarker.render_html("- #{line.split('</a>')[1]}", :UNSAFE, [:table, :autolink]).html_safe %>
                </div>
            <!-- subsubitem -->
            <% elsif line[0..4] == '#### ' || line[0..5] == '##### ' %>
                <div class="text-normal list-item subitem subsubitem pl-4">
                  <%= CommonMarker.render_html("- #{line.split('</a>')[1]}", :UNSAFE, [:table, :autolink]).html_safe %>
                </div>
            <% end %>
          <% end %><!-- .\each -->
          <!-- close at end -->
          <% if @open %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- render post  -->
  <div class="col-12 col-lg-<%= @size %> font-family-serif">
    <%= CommonMarker.render_html(@all_lines, [:UNSAFE, :GITHUB_PRE_LANG], [:table, :autolink]).html_safe %>
  </div>
</div>
<!-- scroll-percent-wrapper -->
<button id="scroll-percent-wrapper" class="d-none text-muted btn btn-primary no-hover" style="position:fixed;bottom:1rem;left:1rem;cursor:default;z-index:1000;">
  <i style="font-style:normal;line-height:1;"><span id="scroll-percent"></span>%</i>
</button>
<!-- mathjax -->
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script> -->
