<!-- post -->
<div class="row justify-content-center">
  <!-- scroll-percent-wrapper -->
  <button id="scroll-percent-wrapper" class="d-none text-muted btn btn-primary no-hover" style="position:fixed;bottom:1rem;left:1rem;cursor:default;z-index:1000;">
    <i style="font-style:normal;line-height:1;"><span id="scroll-percent"></span>%</i>
  </button>
  <!-- post details -->
  <div class="col-12 col-xl-<%= @size %>">
    <!-- meta -->
    <p class="p-3 text-center border-solid--grey">
      <!-- date -->
      <% unless @draft %>
        <span class="pr-3"><%= Date.parse(@date).strftime("%b %d, %Y").gsub("-0", "").gsub("-", "") %></span>
      <% else %>
        <span class="text-muted pr-3">DRAFT</span>
      <% end %>
      <!-- time to read -->
      <% @time_to_read = @words / 75 %>
      <span class="px-3"><%= @time_to_read %> min read</span>
      <!-- updated -->
      <% unless Date.parse(@date) == Date.parse(@updated) %>
        <a href="https://github.com/miqqeio/michaelsjoeberg.com/commits/main/public/posts/<%= @post %>.md" target="_blank" class="px-3">Updated on <%= Date.parse(@updated).strftime("%b %d, %Y").gsub("-0", "").gsub("-", "") %></a></span>
      <% end %>
      <!-- tags -->
      <% if @tags %>
        <% @tags.each do |tag| %>
          <a href="/writing/<%= tag %>" data-turbolinks="true" class="px-3"><%= tag.gsub("-", " ").titleize %></a>
        <% end %>
      <% end %>
    </p>
    <!-- title -->
    <p class="h1 my-4">
      <a href="/<%= @route_path %>/<%= @post %>" data-turbolinks="true"><%= @title %></a>
    </p>
  </div>
  <!-- toc -->
  <% if @toc %>
  <div id="toc" class="col-12 col-xl-<%= @size %> font-family-serif">
    <div class="container-fluid mb-3">
      <div class="row list border-solid--grey py-3 mb-3">
        <div class="col-12 split-columns p-0">
          <% @open = false %>
          <% @lines.each do |line| %>
            <% if line[0..2] == '## ' %>
              <!-- main on main headings are closed -->
              <% if @open %>
                <% @open = false %>
                </div>
              <% end %>
              <!-- main heading and open for potential subitems -->
              <div class="col-12 list-item">
                <% @open = true %>
                <%= CommonMarker.render_html("1. #{line.split('</a>')[1]}", :UNSAFE, [:table, :autolink]).html_safe %>
            <!-- subitem -->
            <% elsif line[0..3] == '### ' %>
                <div class="list-item subitem">
                  <%= CommonMarker.render_html("- #{line.split('</a>')[1]}", :UNSAFE, [:table, :autolink]).html_safe %>
                </div>
            <!-- subsubitem -->
            <% elsif line[0..4] == '#### ' || line[0..5] == '##### ' %>
                <div class="text-normal list-item subitem subsubitem pl-4">
                  <%= CommonMarker.render_html("- #{line.split('</a>')[1]}", :UNSAFE, [:table, :autolink]).html_safe %>
                </div>
            <% end %>
          <% end %><!-- .\each -->
          <!-- close at end -->
          <% if @open %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <!-- render post  -->
  <div class="col-12 col-xl-<%= @size %> font-family-serif">
    <%= CommonMarker.render_html(@all_lines, [:UNSAFE, :GITHUB_PRE_LANG], [:table, :autolink]).html_safe %>
  </div>
</div>
<!-- mathjax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<!-- ./post -->