<!-- post -->
<div class="row justify-content-center">
    <% unless @toc.nil? %>
    <% @size = 8 %>
    <% end %>
    <div id="back-to-top" class="d-none" style="position:fixed;bottom:50px;right:50px">
        <p class="text-muted m-0">
            <span>Back to top</span>
        </p>
    </div>
    <div class="col-12 col-lg-<%= @size %>">
        <!-- title -->
        <h1 class="font-family-serif font-weight-bold">
            <a href="/<%= @route_path %>/<%= @post %>" data-turbolinks="true"><%= @title %></a>
        </h1>
        <!-- meta -->
        <p class="text-muted m-0">
            <!-- draft -->
            <% if @draft %>
            <span>DRAFT &#9642;</span>
            <% end %>
            <!-- date -->
            <% unless @draft %>
            <span><%= Date.parse(@date).strftime("%b %d, %Y") %> <% unless Date.parse(@date) == Date.parse(@updated) %>(updated: <%= Date.parse(@updated).strftime("%b %d, %Y") %>)<% end %> &#9642;</span>
            <% end %>
            <!-- words -->
            <!-- <span>&#9642; ~<%= @words / 100 * 100 %></span> -->
            <!-- time to read -->
            <% @time_to_read = @words / 75 %>
            <!--
            <% if @time_to_read > 60 %>
                <% @min = @time_to_read % 60 %>
                <% @hour = (@time_to_read - @min) / 60 %>
            <% end %>
            <%= @hour %>h <%= @min %>min read
            -->
            <span><%= @time_to_read %> min read</span>
            <!-- tags -->
            <!-- <span>
                &#9642;
                <% @tags.each do |tag| %>
                    <span>
                        <% if tag == tag.upcase %>
                            <%= tag %>
                        <% elsif tag.include?('.') %>
                            <%= tag.capitalize %>
                        <% else %>
                            <%= tag.titleize %>
                        <% end %>
                        <% unless tag.equal?(@tags.last) %> / <% end %>
                    </span>
                <% end %>
            </span> -->
        </p>
    </div>
        <!-- toc  -->
        <% unless @toc.nil? %>
        <!--
        <div id="toc" class="col-4 font-family-serif" style="position:sticky;top:50px;height:100%;">
            <% @toc.each do |link| %>
                <%= CommonMarker.render_html(link, :UNSAFE, [:table, :autolink]).html_safe %>
            <% end %>
        </div>
        -->
        <div class="col-12 col-lg-<%= @size %> font-family-serif">
            <!-- TEST -->
            <div class="container-fluid my-3 py-3">
                <div class="row list border-solid--grey pt-3">
                    <% @toc.each do |link| %>
                    <div class="col-12 col-lg-6 list-item">
                        <%= CommonMarker.render_html(link, :UNSAFE, [:table, :autolink]).html_safe %>
                    </div>
                    <% end %>
                </div>
            </div>
            <% @lines.drop(@skip).each do |line| %>
                <%= CommonMarker.render_html(line, :UNSAFE, [:table, :autolink]).html_safe %>
            <% end %>
        </div>
        <!-- no toc -->
        <% else %>
        <%= render 'divider', locals: { size: @size } %>
        <div class="col-12 col-lg-<%= @size %> font-family-serif">
            <% @lines.drop(4).each do |line| %>
                <%= CommonMarker.render_html(line, :UNSAFE, [:table, :autolink]).html_safe %>
            <% end %>
        </div>
        <% end %>
    <%= render 'divider' %>
    <div class="col-12 col-lg-<%= @size %> text-md-center">
        <p class="m-0"><a href="/writing" data-turbolinks="true">Browse all posts</a></p>
    </div>
</div>
<!-- ./post