<!-- post -->
<div class="row justify-content-center">
    <!-- back-to-top -->
    <div id="back-to-top" class="d-none" style="position:fixed;bottom:50px;right:50px">
        <p class="text-muted m-0"><span>Back to top</span></p>
    </div>
    <!-- post details -->
    <div class="col-12 col-lg-<%= @size %>">
        <!-- title -->
        <h1 class="font-family-serif font-weight-bold">
            <a href="/<%= @route_path %>/<%= @post %>" data-turbolinks="true"><%= @title %></a>
        </h1>
        <!-- meta -->
        <p class="text-muted m-0">
            <!-- draft -->
            <% if @draft %>
            <span>DRAFT &#9642;</span>
            <% end %>
            <!-- date -->
            <% unless @draft %>
            <span><%= Date.parse(@date).strftime("%b %d, %Y") %> &#9642;</span>
            <% end %>
            <!-- words -->
            <!-- <span>&#9642; ~<%= @words / 100 * 100 %></span> -->
            <!-- time to read -->
            <% @time_to_read = @words / 75 %>
            <span><%= @time_to_read %> min read</span>
            <!-- updated -->
            <% unless Date.parse(@date) == Date.parse(@updated) %>
            <span>&#9642; <a href="https://github.com/michaelsjoeberg/michaelsjoeberg.com-4/commits/main/public/posts/<%= @post %>.md">Updated on <%= Date.parse(@updated).strftime("%b %d, %Y") %></a></span>
            <% end %>
            <!-- tags -->
            <!-- <span>
                &#9642;
                <% @tags.each do |tag| %>
                    <span>
                        <% if tag == tag.upcase %>
                            <%= tag %>
                        <% elsif tag.include?('.') %>
                            <%= tag.capitalize %>
                        <% else %>
                            <%= tag.titleize %>
                        <% end %>
                        <% unless tag.equal?(@tags.last) %> / <% end %>
                    </span>
                <% end %>
            </span> -->
        </p>
    </div>
    <% unless @toc %>
        <%= render 'divider', locals: { size: @size } %>
    <% end %>
    <!-- post content -->
    <div class="col-12 col-lg-<%= @size %> font-family-serif">
        <!-- toc -->
        <% if @toc %>
        <div class="container-fluid my-3 py-3">
            <div class="row list border-solid--grey pt-3">
                <% @lines.each do |line| %>
                    <% if line[0..2] == '## ' %>
                    <div class="col-12 col-lg-6 list-item">
                        <%= CommonMarker.render_html("1. #{line.split('</a>')[1]}", :UNSAFE, [:table, :autolink]).html_safe %>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        <% end %>
        <!-- render -->
        <%= CommonMarker.render_html(@all_lines, :UNSAFE, [:table, :autolink]).html_safe %>
    </div>
    <%= render 'divider' %>
    <div class="col-12 col-lg-<%= @size %> text-md-center">
        <p class="m-0"><a href="/writing" data-turbolinks="true">Browse all posts</a></p>
    </div>
</div>
<!-- ./post -->