<%= render 'navigation' %>
<%= render 'navigation_about' %>

<div class="container p-md-5 p-sm-3">
    <!-- header -->
    <div class="row justify-content-center">
        <!-- meta -->
        <div class="col-12 col-lg-10">
            <h1><%= @meta_title %></h1>
        </div>
        <!-- divider -->
        <div class="col-12 col-lg-10"><div class="divider"></div></div>
    </div>
    <!-- summary -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10" style="column-count: 2;">
            <p class="font-family-serif mb-3">I like to build things -- idea stage to product -- and have previously built things such as compilers, mobile applications, websites, and computers. I speak fluent Swedish and English, conversational Norwegian, and very limited Spanish and German.</p>

            <p class="font-family-serif mb-3">I have completed a postgraduate degree in advanced computing at <a href="https://www.kcl.ac.uk/" target="_blank">King's College London</a>, focusing on learning algorithms, application security, and compiler design. I have completed undergraduate studies at The Open University (distance learning), focusing on software development and mathematics. I am currently pursuing a postgraduate degree in finance at <a href="http://business-school.open.ac.uk/" target="_blank">The Open University Business School</a> (part-time distance learning).</p>

            <p class="font-family-serif"><span class="font-weight-bold">Programming languages:</span> Fluent in Python, proficient in Rust and JavaScript, conversant in C/C++, Ruby, Scala, and Prolog, and barely remember Java and PHP.</p>
        </div>
        <div class="col-12 col-md-10">
            <div class="divider"></div>
        </div>
    </div>
    <!-- project intro -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center" style="column-count: 1;">
            <p class="font-family-serif font-weight-bold mb-0">Projects</p>
        </div>
        <!-- divider -->
        <div class="col-12 col-md-10"><div class="divider"></div></div>
    </div>
    <!-- projects -->
    <% @projects.keys.each do |project| %>
        <div class="row justify-content-center mb-3">
            <!-- title -->
            <div class="col-12 col-md-10 mb-3">
                <h2>
                    <% if @projects[project]['url'] != "" %>
                    <a href="<%= @projects[project]['url'] %>" target="_blank"><%= project %></a>
                    <% else %>
                        <%= project %>
                    <% end %>
                </h2>
                <!-- meta -->
                <% if @projects[project]['tags'] != [] %>
                <p class="m-0">
                    <!-- tags -->
                    <% @projects[project]['tags'].each do |tag| %>
                        <span>
                            <% if tag == tag.upcase %>
                            <%= tag %>
                            <% else %>
                            <%= tag.capitalize %>
                            <% end %>
                            <% unless tag.equal?(@projects[project]["tags"].last) %> / <% end %>
                        </span>
                    <% end %>
                    <!-- date -->
                    <span class="text-muted float-right"><%= @projects[project]['date'].gsub('-', '-') %></span>
                </p>
                <% end %>
            </div>
            <!-- body -->
            <% if @projects[project]['description'] != [] %>
            <div class="col-12 col-md-10 mb-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 border-left">
                            <!-- description -->
                            <% @projects[project]['description'].each do |paragraph| %>
                                <p class="<% unless paragraph.equal?(@projects[project]['description'].last) %>mb-3<% else %>m-0<% end %> font-family-serif"><%= paragraph %></p>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    <% end %>
    <!-- divider -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="divider mt-0"></div>
        </div>
    </div>
    <!-- music -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center" style="column-count: 1;">
            <p class="font-family-serif font-weight-bold mb-0">Here is my soundcloud</p>
        </div>
        <!-- divider -->
        <div class="col-12 col-md-10"><div class="divider"></div></div>
        <!-- soundcloud -->
        <div class="col-12 col-md-10">
            <!-- iframe -->
            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/11389977&color=%230070ff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </div>
        <!-- divider -->
        <div class="col-12 col-md-10"><div class="divider"></div></div>
    </div>
    <!-- download cv -->
    <!-- <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-md-center">
            <p class="m-0"><a href="/cv.pdf">Download CV</a></p>
        </div>
    </div> -->
</div>