<% @size = 8 %>

<div class="container">
  <!-- intro -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-<%= @size %> text-center">
      <p class="mb-0">List of courses taken</p>
    </div>
  </div>
  <!-- courses -->
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-<%= @size %>">
        <div class="row list">
          <% @courses.keys.each do |year| %>
          <!-- header -->
          <li class="col-12 text-center">
            <p class="text-muted <% if @courses.keys.first != year %>my-3<% else %>mb-3<% end %>"><%= year %></p>
          </li>
          <% @courses[year].keys.each do |course| %>
          <!-- course -->
          <li class="col-12">
            <div class="container-fluid">
              <div class="row border-solid--grey py-3 <% if @courses[year].keys.first == course %>border-top-rounded<% end %> <% if @courses[year].keys.last == course %>border-bottom-rounded<% end %> <% if @courses[year].keys.first != course %>no-border-top<% end %>">
                <!-- course -->
                <div class="col-12">
                  <!-- name -->
                  <% unless @courses[year][course]['url'] == nil %>
                  <a href="<%= @courses[year][course]['url'] %>" target="_blank"><%= course %></a>
                  <% else %>
                  <p class="text-muted m-0"><%= course %></p>
                  <% end %>
                  <!-- school -->
                  <p class="text-muted"><%= @courses[year][course]['school'] %></p>
                  <!-- description -->
                  <p class="m-0"><%= @courses[year][course]['description'] %></p>
                </div>
              </div>
            </div>
          </li>
          <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
