<%= render 'navigation' %> 

<% @size = 8 %>
<% @d_size = 8 %>

<div class="container">
  <div class="row justify-content-center">
    <!-- search -->
    <div class="col-12 col-lg-<%= @size %> mt-4 mb-0">
      <input id="search" class="pl-3" name="search" placeholder="Search" type="text" data-list=".list" autocomplete="off">
    </div>
    <!-- render course list -->
    <% @first_item = false %>
    <div class="col-12 col-lg-<%= @size %> mb-4">
        <div class="row list">
          <% @courses.keys.each do |course| %>
          <!-- header -->
          <% if @courses[course]['date'].equal?(@courses.keys.first['date']) %>
            <% @header = @courses[course]['date'] %>
            <li class="list_header col-12">
              <p class="background--grey my-3 px-3 py-2"><%= @header %></p>
            </li>
            <% end %>
            <!-- update header -->
            <% if @courses[course]['date'] != @header %>
            <% @header = @courses[course]['date'] %>
            <% @first_item = true %>
            <li class="list_header col-12">
              <p class="background--grey my-3 px-3 py-2"><%= @header %></p>
            </li>
          <% end %>
          <!-- item -->
          <li class="col-12">
            <div class="container-fluid">
              <div class="row border-solid--grey py-3 <% if @first_item %><% else %>no-border-top<% end %>">
                <% @first_item = false %>
                <!-- course -->
                <div class="col-12 col-md-8">
                  <!-- name -->
                  <% unless @courses[course]['url'] == nil %>
                  <a href="<%= @courses[course]['url'] %>" target="_blank"><%= course %></a>
                  <% else %>
                  <p class="text-muted m-0"><%= course %></p>
                  <% end %>
                  <!-- description -->
                  <p class="m-0"><%= @courses[course]['description'] %></p>
                </div>
                <!-- meta -->
                <div class="col-12 col-md-4 text-md-right mt-3 mt-md-0">
                  <!-- school -->
                  <p class="text-muted m-0"><%= @courses[course]['school'] %></p>
                  <!-- credits -->
                  <% unless @courses[course]['ects'].nil? %>
                  <p class="text-muted m-0"><%= @courses[course]['ects'] %> ECTS, <%= @courses[course]['level'] %></p>
                  <% else%>
                  <p class="text-muted m-0"><%= @courses[course]['level'] %></p>
                  <% end %>
                  <!-- grade -->
                  <% unless @courses[course]['grade'].nil? %>
                  <p class="text-muted m-0"><%= @courses[course]['grade'] %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        </div>
    </div>
  </div>
</div>

<%= render 'footer' %>