<% @size = 8 %>

<div class="container">
  <!-- intro -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-<%= @size %> text-center">
      <p class="mb-0">I have probably enrolled on a lot more free online courses but never completed all content, so honorable mentions are: <a href="https://www.coursera.org/learn/build-a-computer" target="_blank">Build a Modern Computer from First Principles</a>, <a href="https://www.edx.org/course/compilers" target="_blank">Compilers</a>, and <a href="https://www.coursera.org/learn/programming-languages" target="_blank">Programming Languages, Part A</a>.</p>
    </div>
  </div>
  <!-- courses -->
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-<%= @size %>">
        <div class="row list">
          <% @courses.keys.each do |year| %>
          <!-- header -->
          <li class="col-12 text-center">
            <p class="font-weight-bold <% if @courses.keys.first != year %>my-3<% else %>mb-3<% end %> px-3 py-2"><%= year %></p>
          </li>
          <% @courses[year].keys.each do |course| %>
          <!-- course -->
          <li class="col-12">
            <div class="container-fluid">
              <div class="row border-solid--grey py-3 <% if @courses[year].keys.first == course %>border-top-rounded<% end %> <% if @courses[year].keys.last == course %>border-bottom-rounded<% end %> <% if @courses[year].keys.first != course %>no-border-top<% end %>">
                <!-- course -->
                <div class="col-12">
                  <!-- name -->
                  <% unless @courses[year][course]['url'] == nil %>
                  <a href="<%= @courses[year][course]['url'] %>" target="_blank"><%= course %></a>
                  <% else %>
                  <p class="text-muted m-0"><%= course %></p>
                  <% end %>
                  <!-- school -->
                  <p class="text-muted"><%= @courses[year][course]['school'] %></p>
                  <!-- description -->
                  <p class="m-0"><%= @courses[year][course]['description'] %></p>
                </div>
              </div>
            </div>
          </li>
          <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
