<%= render 'navigation' %>

<% @size = 8 %>
<div class="container pb-5">
    <!-- header -->
    <div class="row justify-content-center">
        <div class="col-12 col-lg-<%= @size %> text-md-right my-3 pt-3">
            <input id="search" class="pl-3" name="search" placeholder="Search" type="text" data-list=".list" autocomplete="off">
        </div>
    </div>
    <!-- list -->
    <div class="row justify-content-center mb-3">
        <!-- group -->
        <div class="col-12 col-lg-<%= @size %>">
            <div class="container-fluid">
                <div class="row list">
                    <!-- list items -->
                    <div class="container-fluid">
                        <div class="row list border-solid--grey pt-3">
                            <% @finance['files'].sort.each do |ticker| %>
                            <!-- file -->
                            <a href="<%= @url %><%= ticker %><%= @format %>" target="_blank" class="col-12 col-lg-4">
                                <li class="list-item mb-3">
                                    <span><%= ticker %></span>
                                </li>
                            </a>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>