<%= render 'navigation' %>

<% @size = 8 %>
<div class="container pb-5">
  <!-- header -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-<%= @size %> text-md-right my-3 pt-3">
      <input id="search" class="pl-3" name="search" placeholder="Search" type="text" data-list=".list" autocomplete="off">
    </div>
  </div>
  <!-- list -->
  <div class="row justify-content-center mb-3">
    <!-- group -->
    <div class="col-12 col-lg-<%= @size %>">
      <div class="container-fluid">
        <div class="row list">
          <!-- list items -->
          <div class="container-fluid">
            <div class="row list border-solid--grey py-2">
              <% @finance['files'].keys.sort.each do |ticker| %>
              <!-- file -->
              <div class="col-12 list-item">
                <div class="row">
                  <div class="col-4">
                    <a href="<%= @url %><%= ticker %><%= @format %>" target="_blank"><span><%= ticker %></span></a>
                  </div>
                  <div class="col-4">
                    <% unless @finance['files'][ticker]["name"] == false %>
                    <p class="mb-0"><%= @finance['files'][ticker]["name"] %></p>
                    <% end %>
                  </div>
                  <div class="col-4 text-right">
                    <p class="mb-0">
                      <% unless @finance['files'][ticker]["rating"] == false %>
                      <%= @finance['files'][ticker]["rating"] %>
                      <% else %>
                      <span class="text-muted">Not updated</span>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>