<%= render 'header' %>

<% @size = 10 %>

<!-- navigation -->
<div class="row justify-content-center hidden-until-md">
    <div class="col-12 p-0">
        <nav class="navbar navbar-expand-md p-0">
            <ul class="navbar-nav ml-auto mr-auto">
                <%= render 'navigation_links' %>
            </ul>
        </nav>
    </div>
</div>
<!-- ./navigation -->

<div class="container">
    <!-- intro -->
    <div class="row justify-content-center">
        <%= render 'divider', locals: { size: @size / 2 } %>
        <!-- two columns -->
        <div class="col-12 col-lg-<%= @size %> hidden-until-md" style="column-count: 2;">
            <%= render 'intro' %>
        </div>
        <!-- single column -->
        <div class="col-12 col-lg-<%= @size %> hidden-from-md">
            <%= render 'intro' %>
        </div>
        <%= render 'divider', locals: { size: @size / 2 } %>
    </div>
    <!-- ./intro -->

    <!-- recent -->
    <div class="row justify-content-center mt-2 mb-5">
        <div class="col-12 col-lg-<%= @size / 10 * 8 %>">
            <div class="row justify-content-center">
                <% @recent.keys.each do |date| %>
                    <div class="col-12 col-lg-4 mb-3">
                        <p class="small text-muted mb-0"><%= Date.parse(date).strftime("%B %d, %Y") %></p>
                        <a href="<%= @recent[date]["url"] %>" data-turbolinks="true"><%= @recent[date]["title"] %></a>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <!-- ./recent -->
</div>