<% @size = 12 %>

<% if @file_content == nil %>
<div class="row justify-content-center hidden-until-lg fixed mb-5">
  <div class="col-12 p-0">
    <nav class="navbar navbar-expand-md p-0">
      <ul class="navbar-nav ml-auto mr-auto">
        <% @programming.keys.each do |category| %>
        <li class="nav-item">
          <a href="/<%= @route_path %>#<%= category %>" class="<% if @programming.keys.first != category %>pl-3<% end %>" data-turbolinks="true"><%= category.titleize %></a>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
<% end %>

<div class="container">
  <!-- content -->
  <% if @file_content != nil %>
    <%= render 'file_content', locals: { size: @size } %>
  <!-- otherwise -->
  <% else %>
    <!-- header -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-<%= @size %> mt-3">
        <input id="search" class="pl-3" name="search" placeholder="Search" type="text" data-list=".list" autocomplete="off">
      </div>
    </div>
    <!-- list -->
    <% @programming.keys.each do |category| %>
    <div class="row justify-content-center">
      <!-- category -->
      <div class="col-12 col-lg-<%= @size %> mt-3">
        <a name="<%= category %>" class="anchor-2"></a>
        <h3 class="font-weight-bold pb-0">
          <a href="#<%= category %>" data-turbolinks="true"><%= category.titleize %></a>
        </h3>
      </div>
      <!-- posts -->
      <div class="col-12 col-lg-<%= @size %> mt-3">
        <div class="row list">
          <% @dir_programming.each do |post| %>
          <% if post[:category].downcase == category %>
          <!-- post:meta -->
          <li class="list-item no-bullet col-12">
            <p>
              <a href="post/<%= post[:filename] %>" data-turbolinks="true">
                <%= post[:title] %>
              </a>
            </p>
          </li>
          <% end %>
          <% end %>
        </div>
      </div>
      <!-- group -->
      <div class="col-12 col-lg-<%= @size %>">
        <div class="container-fluid">
          <div class="row list">
            <% @programming[category].keys.each do |group| %>
            <!-- header -->
            <li class="list_header background--grey col-12 my-3">
              <a name="<%= category %>_<%= group.gsub('-', '_') %>" class="anchor-2"></a>
              <p class="mt-2 mb-2"><%= group.titleize %></p>
            </li>

            <!-- list items -->
            <div class="container-fluid">
              <div class="row list border-solid--grey pt-3">
                <div id="programming_wrapper" class="col-12 split-columns p-0">
                <!-- intro file at top -->
                <% if @programming[category][group]["files"].include? "intro" %>
                  <a href="/<%= @route_path %>/<%= category %>/<%= group %>/intro" data-turbolinks="true" class="col-12">
                    <li class="list-item mb-3">
                      <span><%= "READ ME FIRST" %></span>
                    </li>
                  </a>
                  <% @programming[category][group]["files"].delete("intro") %>
                <% end %>
                <% @programming[category][group]["files"].sort!.each do |file| %>
                  <!-- file -->
                  <a href="/<%= @route_path %>/<%= category %>/<%= group %>/<%= file %>" data-turbolinks="true" class="col-12">
                    <li class="list-item mb-3">
                      <span><%= file.titleize %></span>
                    </li>
                  </a>
                <% end %>
              </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
