<%= render 'header' %>
<%= render 'navigation' %>

<% @size = 8 %>
<div class="container pb-5">
    <!-- page size wrapper -->
    <div class="row justify-content-center">
        <div class="col-12 col-lg-<%= @size %>">
            <!-- <div class="divider"></div> -->
            <p class="p-4 text-center border-solid--grey my-4">See also open source projects on <a href="https://github.com/miqqeio" target="_blank"><i class="fab fa-github pl-1"></i> GitHub</a></p>
            <!-- projects -->
            <% @projects.keys.each do |project| %>
                <% if @projects[project]['show'] == true %>
                    <div class="row justify-content-center mb-3">
                        <!-- title -->
                        <div class="col-12 col-lg-<%= @size / 2 %> mb-0">
                            <h3 class="font-family-base pb-0 <% if @projects[project]['url'] == "" %>text-muted<% end %>">
                                <% if @projects[project]['url'] != "" %>
                                <a href="<%= @projects[project]['url'] %>" target="_blank">
                                    <%= project %>
                                </a>
                                <% else %>
                                    <%= project %>
                                <% end %>
                            </h3>
                            <p class="text-muted m-0">
                                <% if @projects[project]['archived'] %>[ARCHIVED]<% end %>
                            </p>
                            <!-- meta -->
                            <% if @projects[project]['tags'] != [] %>
                            <p class="text-muted m-0">
                                <!-- tags -->
                                <% @projects[project]['tags'].each do |tag| %>
                                    <span>
                                        <% if tag == tag.upcase %>
                                            <%= tag %>
                                        <% elsif tag.include?('.') %>
                                            <%= tag.capitalize %>
                                        <% else %>
                                            <%= tag.titleize %>
                                        <% end %>
                                        <% unless tag.equal?(@projects[project]["tags"].last) %> / <% end %>
                                    </span>
                                <% end %>
                            </p>
                            <% end %>
                        </div>
                        <!-- body -->
                        <% if @projects[project]['description'] != [] %>
                        <div class="col-12 col-lg-<%= @size %> mb-3 mt-2">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 border-left">
                                        <!-- description -->
                                        <% @projects[project]['description'].each do |paragraph| %>
                                            <p class="<% unless paragraph.equal?(@projects[project]['description'].last) %>mb-3<% else %>m-0<% end %> font-family-serif"><em><%= paragraph %></em></p>
                                        <% end %>
                                        <!-- github -->
                                        <% if @projects[project]['github'] %>
                                            <p class="mb-0 mt-3">Github<% if @projects[project]['archived'] %> [ARCHIVED]<% end %>: <a href="<%= @projects[project]['github'] %>" target="_blank"><%= @projects[project]['github'] %></a></p>
                                        <% end %>
                                        <!-- website -->
                                        <% if @projects[project]['website'] %>
                                            <p class="mb-0 mt-3">Website: <a href="<%= @projects[project]['website'] %>" target="_blank"><%= @projects[project]['website'] %></a></p>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div><!-- ./page size wrapper -->
</div>

<%= render 'footer' %>