<% @size = 8 %>

<div class="container">
  <!-- intro -->
  <!-- <div class="row justify-content-center">
    <div class="col-12 col-lg-<%= @size %> text-center">
      <p class="mb-0">List of projects and stack used</p>
    </div>
  </div> -->
  <!-- projects -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-<%= @size %>">
      <% @projects.keys.each do |project| %>
          <div class="row justify-content-center">
            <!-- title -->
            <div class="col-12 mb-0">
              <h3 class="font-family-base font-weight-bold pb-0 <% if @projects[project]['url'] == "" %>text-muted<% end %>">
                <% if @projects[project]['url'] %>
                <a href="<%= @projects[project]['url'] %>"><%= project %></a>
                <% else %>
                <span class="text-muted"><%= project %></span>
                <% end %>
              </h3>
            </div>
            <!-- body -->
            <% if @projects[project]['description'] %>
            <div class="col-12">
                <p class="<% unless @projects[project]['url'] %>text-muted<% end %>"><%= @projects[project]['description'] %></p>
            </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
