<% @size = 8 %>

<div class="container">
  <div class="row justify-content-center">
    <!-- render stack list -->
    <div class="col-12 col-lg-<%= @size %>">
        <div class="row list">
          <% @stack.keys.each do |item| %>
          <!-- item -->
          <li class="col-12">
            <div class="container-fluid">
              <div class="row border-solid--grey py-3">
                <!-- item -->
                <div class="col-12">
                  <!-- name -->
                  <% unless @stack[item]['url'] == nil %>
                  <a href="<%= @stack[item]['url'] %>" target="_blank"><%= item %></a>
                  <% else %>
                  <p class="text-muted m-0"><%= item %></p>
                  <% end %>
                  <!-- description -->
                  <p class="m-0"><%= @stack[item]['description'] %></p>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        </div>
    </div>
  </div>
</div>
