<%= render 'navigation' %>

<% @size = 8 %>
<% @d_size = 8 %>

<div class="container">
  <!-- post -->
  <% if @post != nil %>
    <%= render 'post', locals: { size: @size } %> 
  <!-- otherwise -->
  <% else %>
  <!-- page size wrapper -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-<%= @size %>">
      <!-- tag -->
      <% if @tag%>
        <p class="p-3 border-solid--grey mt-4 mb-0">
          Posts in: <a href="/writing/<%= @tag %>" class="px-3"></i> <%= @tag.gsub("-", " ").titleize %></a>
          <!-- clear tags -->
          <a href="/writing" class="float-right">Clear</a>
        </p>
      <% else %>
        <!-- links with all tags -->
        <p class="p-3 text-center border-solid--grey mt-4 mb-0">
          <% @tags_all.each do |tag| %>
          <!-- replace space with - -->
          <a href="/writing/<%= tag %>" class="px-3"><%= tag.gsub("-", " ").titleize %></a>
          <% end %>
        </p>
      <% end %>
      <!-- list all posts -->
      <div class="row list">
        <% @year = 0 %>
        <% @posts_array.keys.each do |post| %>
          <!-- write year from date and put posts per year -->
          <% if @posts_array[post][:date][0..3] != @year %>
            <% @year = @posts_array[post][:date][0..3] %>
            <!-- year -->
            <!-- <div class="col-12">
              <p class="text-muted font-family-serif mb-3"><%= @year %></p>
            </div> -->
            <li class="list_header col-12">
              <p class="background--grey my-3 px-3 py-2"><%= @year %></p>
            </li>
          <% end %>
          <!-- item -->
          <li class="list-item no-bullet col-12 mb-3">
            <!-- post:date -->
            <p class="text-muted font-family-serif mb-0">
              <% if @posts_array[post][:draft] %>
                <span class="text-muted">DRAFT</span>
              <% else %>
                <%= Date.parse(@posts_array[post][:date]).strftime("%b -%d, %Y").gsub("-0", "").gsub("-", "") %>
              <% end %>
            </p>
            <!-- post:title -->
            <h3 class="font-family-serif font-weight-bold pb-0">
              <% if @posts_array[post][:draft] %>
              <a href="https://github.com/miqqeio/michaelsjoeberg.com/blob/main/public/posts/<%= post %>.md" data-turbolinks="true" class="text-muted" target="_blank">
                <%= @posts_array[post][:title] %>
              </a>
              <% else %>
              <a href="/<%= @route_path %>/<%= post %>" data-turbolinks="true" class="<% if @posts_array[post][:draft] %>text-muted<% end %>">
                <%= @posts_array[post][:title] %>
              </a>
              <% end %>
            </h3>
          </li>
        <% end %>
      </div>
    </div>
    <%= render 'divider', locals: { size: @d_size } %>
  </div>
  <% end %>
</div>

<% if @post == nil %><%= render 'footer' %><% end %>
