<% @size = 8 %>
<% year = 0 %>

<div class="container">
  <!-- post -->
  <% if @post != nil %>
    <%= render 'post', locals: { size: @size } %> 
  <!-- otherwise -->
  <% else %>
  <!-- intro -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-<%= @size %> text-center">
      <p class="mb-0">List of writings</p>
    </div>
  </div>
  <!-- writing -->
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-<%= @size %>">
      <div class="row list">
        <% @dir_posts.each do |post| %>
        <% if post[:date].last(4) != year %>
          <% year = post[:date].last(4) %>
          <!-- year -->
          <li class="col-12 text-center">
            <p class="font-weight-bold <% if @dir_posts.first != post %>my-3<% else %>mb-3<% end %>"><%= year %></p>
          </li>
        <% end %>
        <!-- post:meta -->
        <li class="list-item no-bullet col-12">
          <!-- post:date -->
          <!-- <p class="text-small text-muted mb-0">
            <%= Date.parse(post[:date]).strftime("%b -%d, %Y").gsub("-0", "").gsub("-", "") %>
          </p> -->
          <!-- post:title -->
          <p>
            <a href="post/<%= post[:filename] %>" data-turbolinks="true">
              <%= post[:title] %>
            </a>
          </p>
        </li>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
